* {
      margin: 0;
      padding: 0;
      font-family: Roboto, "Noto sans", Raleway, Arial, sans-serif;
}

@keyframes popShow {
      from { right: -100%; }
      to { right: 15px; }
}
aside.pop {
      position: fixed;
      animation-name: popShow;
      -webkit-animation-name: popShow;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      z-index: 100;
      bottom: 15px;
      right: 15px;
      max-width: calc(20vw - 30px);
      padding: 15px;
      background: rgb(210,210,210);
      color: rgb(50,50,50);
} aside.pop span {
      display: block;
      color: rgb(255,255,255);
      font-size: 1.1em;
      font-weight: bold;
      padding: 0 0 10px 0;
} aside.pop span i.fa {
      padding-right: 3px;
} aside.pop p {
      display: block;
      font-size: 1em;
      color: rgb(230,230,230);
      padding: 0 0 15px 0;
} aside.pop button {
      display: inline-block;
      padding: 8px 10px;
      font-size: .9em;
      font-weight: bold;
      border: none;
      background: none;
      color: rgb(255,255,255);
      cursor: pointer;
      outline: none;
} aside.pop.info {
      border-bottom: 6px solid rgb(70,120,190);
      background: rgb(100,160,250);
}

body {
      background-color: rgb(200,240,240);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      max-height: 100vh;
}
body.err404 content {
	position: fixed;
	z-index: 2;
	top: 30vh;
	left: 35vw;
	right: 35vw;
	text-align: center;
} body.err404 content span {
	font-size: 1.2em;
	color: rgb(50,50,50);
} body.err404 content p {
	font-size: 1em;
	color: rgb(70,70,70);
	margin-top: 15px;
} body.err404 content p a {
	color: rgb(200,100,0);
	text-decoration: none;
} body.err404 content p a:hover {
	text-decoration: underline;
}


a.admin-button {
	display: inline-block;
	vertical-align: middle;
	background: rgb(55,35,20);
	color: orange;
	margin: 7px 5px 0 0;
	padding: 10px 15px 10px 10px;
	border-left: 6px solid rgb(25,15,0);
	text-decoration: none;
} a.admin-button.small {
	padding: 5px 10px 5px 5px;
	font-size: 0.9em;
} a.admin-button:hover {
	text-decoration: underline;
} a.admin-button i.fa {
	color: rgb(230,230,230);
	padding-right: 6px;
}


.Modal {
	position: fixed;
	z-index: 120;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(10,10,10);
	background: rgba(0,0,0,0.6);
	text-align: center;
}


div.SUCCESS {
	display: block;
	margin: 0 auto 2% 0;
} div.SUCCESS div.suInset {
	display: inline-block;
	background: rgb(80,160,80);
	color: rgb(230,230,230);
	border: none;
	border-radius: 3px;
	padding: 5px;
} div.SUCCESS div.suInset img {
	display: inline-block;
	vertical-align: middle;
	padding: 3px;
	width: 16px;
	height: 16px;
} div.SUCCESS div.suInset label {
	display: inline-block;
	vertical-align: middle;
	padding: 0 6px 0 4px;
} div.SUCCESS div.suInset span {
	display: inline-block;
	vertical-align: middle;
	padding: 0 6px 1px 6px;
	border-radius: 100px;
	cursor: pointer;
} div.SUCCESS div.suInset span:hover {
	background: rgb(235,235,235);
	color: rgb(50,50,50);
}


@keyframes notifGrow {
	0% {
		transform: scale(0);
	} 50% {
		transform: scale(1.2);
	} 100% {
		transform: scale(1);
	}
}
div.ERROR,
div.SUCCESS {
	animation-name: notifGrow;
	-webkit-animation-name: notifGrow;
	animation-duration: 700ms;
	-webkit-animation-duration: 700ms;
      position: fixed;
      z-index: 121;
      top: 30vh;
	left: 40%;
	right: 40%;
      padding: 15px;
	border-bottom: 6px solid rgb(150,80,80);
      background: rgb(210,130,130);
	text-align: center;
} div.SUCCESS {
	background: rgb(60,150,80);
	border-bottom: 6px solid rgb(15,110,30);
}
div.ERROR span,
div.SUCCESS span {
      display: block;
      color: rgb(255,255,255);
      font-size: 1.1em;
      font-weight: bold;
      padding: 0 0 10px 0;
}
div.ERROR span i.fa,
div.SUCCESS span i.fa {
      padding-right: 3px;
}
div.ERROR p,
div.SUCCESS p {
      display: block;
      font-size: 1em;
      color: rgb(230,230,230);
	margin: 5px 0 0 0;
      padding: 0 0 15px 0;
}
div.ERROR button,
div.SUCCESS button
{
	position: absolute;
	top: 0;
	right: -35px;
      display: inline-block;
      padding: 5px 10px;
      font-size: .9em;
      font-weight: bold;
      border: none;
      background: rgb(230,230,230);
	color: rgb(50,50,50);
      cursor: pointer;
      outline: none;
}
div.ERROR button:hover,
div.SUCCESS button:hover
{
	background: rgb(50,50,50);
	color: rgb(240,240,240);
}

p.failed {
	color: rgb(150,60,60);
	font-weight: bold;
	padding: 10px;
} p.failed i.fa {
	font-weight: inherit;
	padding-right: 5px;
}

form fieldset {
	border: none;
      margin-bottom: 15px;
}
form div.mce-edit-area.mce-container.mce-panel.mce-stack-layout-item iframe {
      min-height: 300px;
} form fieldset:last-child {
      margin-bottom: 0px;
} form fieldset input {
      outline: none;
}
form input[type="text"].textbox,
form input[type="password"].textbox {
      display: block;
      width: 60%;
      border: none;
      padding: 9px;
      font-size: 1em;
} form input[type="submit"].sub {
      display: inline-block;
      padding: 12px 14px;
      text-align: center;
      min-width: 60px;
      margin: 20px 0 0 8px;
      cursor: pointer;
      border: none;
      background: none;
      font-weight: bold;
      font-size: 1.1em;
} form input[type="submit"].sub.smallsize {
	padding: 6px 8px;
	font-size: 1em;
} form input[type="submit"].sub:hover {
      background: rgb(230,230,230);
} form input[type="checkbox"].checkbox {
      margin: 0 0 0 5px;
      cursor: pointer;
} form label {
      display: block;
      padding: 0 0 5px 5px;
      color: rgb(60,60,60);
      font-weight: bold;
} form label.for {
      display: inline-block;
      font-weight: normal;
      cursor: pointer;
} form textarea.newmsg {
	display: block;
	width: calc(100% - 10px);
	border: none;
	color: rgb(230,230,230);
	max-height: 400px;
	font-size: 1em;
	background: none;
	resize: vertical;
	outline: none;
}


@keyframes showContent {
      from {
            opacity: .2;
      } to {
            opacity: 1;
      }
}
nav.NAV,
div.page
{
      position: absolute;
      display: block;
      z-index: 10;
} div.page {
      top: 0;
      bottom: 0;
      right: 0;
      width: calc(72% - 20px);
      padding: 0 3% 0 0;
      overflow: auto;
} div.page div.content {
	padding-bottom: 10%;
      margin: 3% 0 0 0;
      animation-name: showContent;
      -webkit-animation-name: showContent;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
}

nav.NAV {
      width: calc(24% - 20px);
      background: rgb(245,245,245);
      height: 100vh;
      overflow: auto;
} nav.NAV section {
      position: relative;
      display: block;
} nav.NAV section.nav-head {
      background: rgb(45,30,12);
      padding: 15px 5px 55px 5px;
      text-align: center;
} nav.NAV section.nav-head img.logo {
      display: block;
      position: absolute;
      z-index: 11;
      left: calc(50% - 40px);
      bottom: -40px;
      width: 80px;
      height: 80px;
      border-radius: 100%;
} nav.NAV section.nav-head div.social {
      position: absolute;
      right: 5px;
      top: 3px;
} nav.NAV section.nav-head div.social a.link {
      display: block;
      margin-bottom: 5px;
} nav.NAV section.nav-head div.social a.link.facebook {
      color: rgb(100,140,240);
} nav.NAV section.nav-head div.social a.link.twitter {
      color: rgb(150,210,230);
} nav.NAV section.nav-foot {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 0.9em;
      text-align: center;
      padding: 10px;
      background: rgb(45,30,12);
      color: rgb(230,230,230);
} nav.NAV section.nav-foot span {
      color: orange;
} nav.NAV section.nav-content {
      padding: 60px 0 0 0;
} nav.NAV section.nav-content ol.list {
      list-style: none;
} nav.NAV section.nav-content ol.list a.link {
      display: block;
      cursor: pointer;
      color: rgb(35,35,35);
      padding: 25px 10px 25px 20px;
      text-decoration: none;
      cursor: pointer;
      border-left: 5px solid transparent;
} nav.NAV section.nav-content ol.list a.link i.fa {
      padding-right: 7px;
	min-width: 15px;
} nav.NAV section.nav-content ol.list a.link.selected {
      border-left: 5px solid rgb(50,50,50);
      font-weight: bold;
} nav.NAV section.nav-content ol.list a:hover {
      background: rgb(230,230,230);
}
nav.NAV h1.ttr,
nav.NAV h2.ttr {
      display: block;
      font-weight: normal;
} nav.NAV h1.ttr {
      color: rgb(245,245,245);
      font-size: 1.5em;
      padding-bottom: 6px;
} nav.NAV h2.ttr {
      color: rgb(245,185,50);
      font-size: 1.3em;
}

div.content h3.ttr {
      display: block;
	margin-top: 10vh;
      font-size: 1.7em;
	font-weight: normal;
	padding: 10px;
	width: 90%;
	background: rgb(45,30,12);
	color: rgb(235,235,235);
} div.content section.content {
      display: block;
      background: rgb(245,245,245);
      background: rgba(245,245,245,0.9);
      padding: 10px;
      width: 90%;
      margin: 0 auto 5% 0;
} div.content section.content.nopadding {
	padding: 0 !important;
	width: calc(90% + 20px);
} div.content section.content.nomargin {
	margin-bottom: 0;
	border-bottom: 1px solid rgb(140,140,140);
}

article.Billet {
	display: block;
	min-height: 100px;
	margin-top: 10px;
} article.Billet:first-child {
	margin-top: 0;
} article.Billet:nth-child(even) {
	background: rgb(220,220,220);
	background: rgba(220,220,220,0.5);
	padding: 15px 0;
} article.Billet.hidden {
	background: rgb(190,170,160);
	background: rgba(190,170,160,0.6);
	border-left: 5px solid rgb(120,100,90);
} article.Billet section {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
} article.Billet section.left {
	width: calc(30% - 20px);
	padding-bottom: 50px;
	border-right: 2px solid rgb(45,30,12);
} article.Billet.hidden section.left {
	width: calc(30% - 24px);
} article.Billet:hover section.left h4 a {
	text-decoration: underline;
	color: rgb(45,30,12);
} article.Billet section.left h4 {
	display: block;
	font-size: 1.2em;
	color: rgb(15,15,15);
} article.Billet section.left h4 a {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
} article.Billet section span {
	display: block;
	margin-top: 6px;
} article.Billet section.left span.date {
	font-style: italic;
	font-size: 0.9em;
	color: rgb(80,80,80);
} article.Billet section.left span.comments {
	font-weight: bold;
} article.Billet section.left span i.fa {
	color: rgb(15,15,15);
	font-style: normal;
	margin-right: 5px;
	font-size: 16px;
} article.Billet section.right {
	width: calc(70% - 30px);
} article.Billet section.right span.ext {
	font-weight: bold;
	margin-bottom: 5px;
} article.Billet section.right p.part {
	color: rgb(45,30,12);
} article.Billet section.right p.part a.more {
	color: rgb(160,90,30);
	cursor: pointer;
	text-decoration: none;
} article.Billet section.right p.part a.more:hover {
	text-decoration: underline;
}

div.billet-page section.head {
	background: rgb(215,215,215);
	border-bottom: 6px solid rgb(45,30,12);
	padding: 30px;
} div.billet-page section.head span {
	display: block;
	margin-top: 6px;
} div.billet-page section.head span.date {
	margin-top: 0;
	font-style: italic;
	color: rgb(80,80,80);
} div.billet-page section.head span i.fa {
	color: rgb(15,15,15);
	font-size: 16px;
	min-width: 16px;
	margin-right: 5px;
	text-align: center;
} div.billet-page section.content {
	display: block;
	margin: 0;
	width: calc(100% - 60px);
	background: rgb(255,245,225);
	padding: 30px;
} div.billet-page section.content div.inset {
	padding: 15px 0 30px 0;
} div.billet-page section.coms {
	border-top: 6px solid rgb(150,135,115);
	background: rgb(45,30,12);
	padding: 15px;
} div.billet-page section.coms h4.ttr {
	display: block;
	color: rgb(245,185,50);
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 15px;
} div.billet-page section.coms div.getcoms {
	padding: 2% 5%;
} div.billet-page section.delete {
	padding: 3% 5%;
} div.billet-page section.delete p {
	padding: 10px;
	text-align:center;
	background: rgb(200,120,120);
	color: rgb(230,230,230);
} div.billet-page section.delete p span {
	font-weight: bold;
} div.billet-page section.delete form {
	display: inline-block;
	vertical-align: middle;
} div.billet-page section.delete div.form {
	text-align: center;
	margin-top: 3%;
}
div.billet-page section.delete a.return,
div.billet-page section.delete input[type="submit"] {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	padding: 6px 7px;
	margin: 0 5px;
	border: none;
	font-size: 1em;
	text-decoration: none;
	background: rgb(45,30,12);
	color: rgb(230,230,230);
}
div.billet-page section.delete a.return:hover,
div.billet-page section.delete input[type="submit"]:hover {
	text-decoration: underline;
}
form.tinymce div.mce-edit-area.mce-container.mce-panel.mce-stack-layout-item iframe {
      min-height: 300px;
}

article.Comment {
	position: relative;
	display: block;
	width: 65%;
	margin: 0 auto 35px 0;
	background: rgb(150,135,115);
	border-bottom: 5px solid rgb(110,90,75);
	box-shadow: -5px 8px 10px 0 rgb(30,22,15);
} article.Comment span.report {
	position: absolute;
	top: -12px;
	right: -12px;
	width: 35px;
	height: 35px;
	border-radius: 100%;
} article.Comment span.report p {
	position: relative;
} article.Comment span.report p span {
	position: absolute;
	left: 0;
	right: 0;
	top: 8px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: rgb(15,15,15);
} article.Comment span.report.low {
	background: rgb(80,200,110);
} article.Comment span.report.med {
	background: rgb(220,150,60);
} article.Comment span.report.high {
	background: rgb(200,50,50);
} article.Comment:nth-child(even) {
	margin: 0 0 35px auto;
} article.Comment div.msg-head {
	padding: 10px;
	background: rgb(110,90,75);
} article.Comment div.msg-head, article.Comment {
	border-top-left-radius: 6px;
} article.Comment div.msg-head span {
	display: block;
} article.Comment div.msg-head span.user {
	font-weight: bold;
	color: rgb(245,245,245);
	margin-bottom: 3px;
} article.Comment div.msg-head span.date {
	color: rgb(160,160,160);
	font-size: .9em;
	font-style: italic;
} article.Comment div.msg-head span.act {
	padding: 10px 0 3px 0;
} article.Comment div.msg-head span.act a {
	border: 2px solid transparent;
	border-radius: 100%;
	background: rgb(150,135,115);
	padding: 4px 5px;
	font-size: 15px;
	text-shadow: -2px 3px rgb(15,15,15);
	color: rgb(230,230,230);
	cursor: pointer;
} article.Comment div.msg-head span.act a.report:hover {
	border-color: rgb(230,120,120);
} article.Comment div.msg-head span.act a.report.used {
	cursor: not-allowed;
	border-color: rgb(230,120,120);
} article.Comment div.msg-head span.act a.remove {
	padding: 4px 7px;
} article.Comment div.msg-head span.act a.remove:hover {
	border-color: rgb(230,120,120);
} article.Comment div.msg-body {
	padding: 15px 10px;
} article.Comment div.msg-body p {
	display: block;
	color: rgb(35,35,35);
}


div.profile section.head {
	display: block;
	padding: 10px;
	background: rgb(230,230,230);
}
div.profile section.head img.pdp,
div.profile section.head span.user {
	display: inline-block;
	vertical-align: bottom;
} div.profile section.head span.user {
	font-size: 2em;
	font-weight: bold;
	padding-left: 10px;
	padding-bottom: 5px;
} div.profile section.head img.pdp {
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid rgb(100,100,100);
	box-shadow: -2px 3px 10px 0px rgb(150,150,150);
} div.profile section.params span.title {
	display: block;
	padding: 10px;
	color: rgb(15,15,15);
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: underline;
}


table.listComs {
	position: relative;
	display: block;
	width: 80%;
	border-collapse: collapse;
	text-align: center;
} table.listComs tbody {
	display: block;
	width: 100%;
} table.listComs tr {
	width: 100%;
}
table.listComs tr th,
table.listComs tr td
{
	text-align: left;
	padding: 10px;
	border: 1px solid rgb(170,170,170);
}
table.listComs tr.head th,
table.listComs tr.head td
{
	background: rgb(190,190,190);
}
table.listComs td a {
	display: inline-block;
	vertical-align: middle;
	padding: 0 2px;
	color: rgb(0,90,120);
	text-decoration: none;
	cursor: pointer;
} table.listComs td a:hover {
	text-decoration: underline;
	color: rgb(15,15,15);
}